[Unit]
Description=gaiad service
After=network-online.target

[Service]
User=root
ExecStart=/usr/bin/gaiad start --x-crisis-skip-assert-invariants --home \$DAEMON_HOME
Restart=always
RestartSec=3
LimitNOFILE=4096
Environment='DAEMON_HOME=/home/gaia'

[Install]
WantedBy=multi-user.target