[Unit]
Description=gaiad service
After=network-online.target

[Service]
User=gaia
ExecStart=/usr/local/bin/gaiad start --x-crisis-skip-assert-invariants --home /home/gaia/.gaia {{ gaiad_extra_args }}
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target